@import url("global.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Vazirmatn, sans-serif;
}

.container {
    width: 100%;
    height: auto;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.header__login {color: var(--Primary-Main);}


.header__logo {
    width: 76px;
    height: 16px;
}

.header__desktop{display: none}

.header__mobile {
    width: 24px;
    height: 24px;
}

main {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 40px;
    background: linear-gradient(45deg, #e2f0fd, #ffffff);
}

main > div {padding: 0 16px}

.hero__container {
    width: 100%;
    height: auto;
}

.hero__title {color: var(--NEUTRAL-400);}

.hero__info {padding-top: 24px;}

.hero__description {padding-top: 8px;}

.card__top {
    width: 100%;
    max-width: 760px;
    padding: 44px 16px 24px 16px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.cars__container {
    width: 33%;
    max-width: 132px;
    height: auto;
    padding: 4px;
}

.card__cars {
    width: 100%;
    padding: 18px 0;
    text-align: center;
    background-color: var(--white-white);
    border: 1px solid var(--NEUTRAL-50);
    border-radius: 24px;
    position: relative;
    transition: 0.3s ease-in-out;
}

.card__cars img {
    width: 45px;
    height: 45px;
}

.card__cars p {
    color: var(--NEUTRAL-400);
    margin-top: -8px;
}

.card__overline {
    width: 65px;
    height: auto;
    padding: 4px 0;
    background-color: #ebf3e9;
    color: #3c8825;
    border-radius: 24px;
    text-align: center;
    position: absolute;
    top: -14px;
    left: 0;
    z-index: 100;
}

hr {
    width: 90%;
    max-width: 956px;
    margin: 0 auto;
    height: 1px;
    background-color: var(--Primary-Light);
    border: none;
}

.card__bottom {
    width: 100%;
    max-width: 760px;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.man__container {
    width: 50%;
    max-width: 236px;
    padding: 4px;
}

.card__man {
    width: 100%;
    height: auto;
    background-color: var(--white-white);
    border: 1px solid var(--NEUTRAL-50);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px 16px;
    transition: 0.3s ease-in-out;
}

.--fire{flex-direction: column;}

.card__man p {color: var(--NEUTRAL-400);}

.fire__office{
    display: none;
    color: var(--NEUTRAL-200);
}

.card__man img {
    width: 40px;
    height: 40px;
}

.buildings {
    width: 100%;
    display: flex;
    margin-top: 32px;
}

.car-bicycle {
    width: 100%;
    max-width: 800px;
    padding: 0 16px;
    margin: 20px auto 0 auto;
}

.car-bicycle img {
    display: block;
    width: 100%;
}

.payment {
    width: 100%;
    background-color: var(--NEUTRAL-25);
    padding: 40px 16px 0 16px;
    margin-top: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment__text h2 {
    text-align: center;
    color: var(--NEUTRAL-500);
}

.payment__text p {
    margin-top: 16px;
    text-align: right;
    color: var(--NEUTRAL-300);
}

.payment__guide {
    margin-top: 16px;
    width: 100%;
    padding: 0 49px;
}

.payment__step {
    background-color: var(--white-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    margin-bottom: 16px;
    padding: 6px 64px;
    text-align: center;
}

.payment__step p {color: var(--black-black);}

.payment__step h3 {
    color: var(--secondary-Main);
    padding-left: 16px;
}

.btn {
    background-color: var(--Primary-Main);
    color: var(--white-white);
    margin: 32px auto 0 auto;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.btn__text {color: var(--white-white);}

.car-crash {
    width: 100%;
    height: 100%;
    margin-top: 60px;
    padding: 0 20px;
}

.car-crash img {
    width: 100%;
}

.calender__container {
    width: 100%;
    padding: 0 16px;
    margin: 96px auto 0 auto;
}

.calender {
    width: 100%;
    border-radius: 24px;
    border: 1px solid var(--black-black);
}

.calender__head {
    width: 100%;
    background-color: var(--secondary-Main);
    text-align: center;
    border-radius: 23px 23px 0 0;
    padding: 64px 20px 24px 20px;
    position: relative;
}

.circle-left {
    position: absolute;
    left: 16px;
    top: 16px;
}

.circle-right {
    position: absolute;
    right: 16px;
    top: 16px;
}

.coil-left {
    position: absolute;
    left: 44px;
    top: -12px;
}

.--left {left: 16px;}

.coil-right {
    position: absolute;
    right: 48px;
    top: -12px;
}

.--right {right: 20px}

.calender__body {
    width: 100%;
    padding: 24px 8px 0 8px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input__container {
    padding: 6px;
    width: 50%;
}

.input {
    width: 100%;
    border: 1px solid var(--NEUTRAL-100);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    color: var(--NEUTRAL-300);
    transition: 0.2s ease-in-out;
}

.--alignment {justify-content: flex-end;}

.--calender {margin: 40px auto 23px auto;}

.advantages {
    width: 320px;
    margin: 80px auto 0 auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
}

.advantages__container{padding: 8px;}

.advantages__text {
    width: 120px;
    height: 120px;
    border: 1px solid var(--NEUTRAL-200);
    color: var(--NEUTRAL-500);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.advantages__text img {
    width: 40px;
    height: 40px;
    margin-bottom: 4px;
}

.advantages__text span {
    width: 50%;
    text-align: center;
}

.chat-float {
    width: 56px;
    height: 56px;
    background-color: var(--Primary-Main);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 16px;
    bottom:32px;
    transition: 0.1s ease-in-out;
}

.chat-float img {
    width: 26px;
    height: 26px;
}

.extension-float{display: none}


@media (min-width: 1024px) {
    header {
        box-shadow: 0 4px 9px rgba(0, 0, 0, 0.16);
        padding: 16px 144px;
    }

    .header__login{
        border: 1px solid var(--Primary-Light);
        border-radius: 24px;
        padding: 8px 16px;
        transition: 0.3s ease-in-out;
    }
    .header__login:hover{
        background-color: rgba(93, 160, 251, 0.05);
        border: 1px solid var(--Primary-dark);
    }

    .header__manu{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .header__logo{margin-left: 16px;}

    .header__desktop{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .header__submenu{
        margin-right: 24px;
    }
    .header__submenu:hover{
        color: var(--Primary-Main);
    }

    .--align-items{
        display: flex;
        align-items: center;
    }

    .header__mobile {display: none;}

    main {padding-top: 64px;}
    .hero__info {padding-top: 48px;}

    .cars__container{padding: 12px;}

    .card__top{
        padding-top: 20px;
        padding-bottom: 12px
    }

    .card__cars:hover, .card__man:hover{
        background-color: rgba(93, 160, 251, 0.05);
        border: 1px solid var(--Primary-Light);
    }

    .card__cars p:hover, .card__man p:hover{
        color: var(--NEUTRAL-500);
    }

    .card__bottom{margin-top: 12px}

    .man__container{padding: 12px;}

    .fire__office {display: inline;}

    .buildings{margin-top: 24px}

    .car-bicycle{margin-top: 32px}

    .payment{
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 144px;
    }

    .payment__top{
        width: 40%;
        padding: 48px 0;
    }

    .payment__text h2{text-align: right;}

    .payment__guide {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0;
    }

    .payment__step {
        margin: 0;
        padding: 6px 20px;
    }

    .btn {margin-top: 40px;}

    .btn:hover {
        background-color: var(--Primary-dark);
    }

    .car-crash{
        margin: 0;
        padding: 0;
        width: 520px;
    }

    .calender__container{
        max-width: 956px;
        margin-top: 164px;
    }

    .calender__head {padding: 30px 0}

    .circle-left{left: 56px}
    .circle-right{right: 56px}

    .coil-left{left: 86px}
    .--left{left: 58px}

    .coil-right{right: 88px}
    .--right{right: 60px}

    .input__container{width: 33%;}

    .input:hover {
        color: var(--NEUTRAL-500);
        border: 1px solid var(--NEUTRAL-400);
    }

    .advantages{
        width: 100%;
        margin-top: 120px;
    }

    .advantages__container{padding: 24px}

    .advantages__text {
        width: 152px;
        height: 152px;
        border: 2px solid var(--NEUTRAL-200);
        padding: 16px;
    }

    .advantages__text img {
        height: 56px;
        width: 56px;
        margin-bottom: 8px;
    }

    .advantages__text span{width: 100%;}

    .chat-float{
        width: 72px;
        height: 72px;
        right: 32px;
        bottom: 64px;
    }

    .chat-float:hover{
        background-color: var(--Primary-dark);
    }

    .chat-float img{
        width: 32px;
        height: 32px;
    }

    .extension-float {
        width: 72px;
        height: 72px;
        display: block;
        position: fixed;
        left: 32px;
        bottom: 64px;
    }

    .--cursor{cursor: pointer}
}