:root {
    --Primary-Light: #5da0fb;
    --Primary-Main: #3e8df7;
    --Primary-dark: #1C79F6;
    --secondary-Light: #F5CD70;
    --secondary-Main: #F5BE41;
    --secondary-dark: #F8B214;
    --white-white: #FFFFFF;
    --NEUTRAL-25: #F9F9F9;
    --NEUTRAL-50: #EAEAEA;
    --NEUTRAL-100: #BDBDBF;
    --NEUTRAL-200: #9D9D9F;
    --NEUTRAL-300: #707174;
    --NEUTRAL-400: #555559;
    --NEUTRAL-500: #2A2B2F;
    --black-black: #000000;
}

@font-face {
    src: url("../assets/Fonts/Vazir-Variable.woff2");
    font-family: Vazirmatn;
}

h1 {
    font-size: 2rem;
    line-height: 149%;
    font-weight: 900;
}

h2 {
    font-size: 1.75rem;
    line-height: 166%;
    font-weight: 700;
}

h3 {
    font-size: 1.125rem;
    line-height: 175%;
    font-weight: 700;
}

.--subtitle {
    font-size: 1rem;
    line-height: 154%;
    font-weight: 500;
}

.--body {
    font-size: 0.875rem;
    line-height: 169%;
    font-weight: 400;
}

.--button {
    font-size: 0.875rem;
    line-height: 149%;
    font-weight: 700;
}

.--caption {
    font-size: 0.75rem;
    line-height: 168%;
    font-weight: 500;
}

.--overline {
    font-size: 0.625rem;
    line-height: 164%;
    font-weight: 500;
}

@media (min-width: 1440px) {
    h1 {
        font-size: 2.5rem;
        line-height: 140%;
        font-weight: 900;
    }

    h2 {
        font-size: 1.75rem;
        line-height: 144%;
        font-weight: 700;
    }

    h3 {
        font-size: 1.25rem;
        line-height: 159%;
        font-weight: 700;
    }

    .--subtitle {
        font-size: 1.125rem;
        line-height: 154%;
        font-weight: 500;
    }

    .--body {
        font-size: 1rem;
        line-height: 149%;
        font-weight: 400;
    }

    .--button {
        font-size: 1rem;
        line-height: 149%;
        font-weight: 700;
    }

    .--caption {
        font-size: 0.875rem;
        line-height: 168%;
        font-weight: 500;
    }

    .--overline {
        font-size: 0.75rem;
        line-height: 168%;
        font-weight: 500;
    }
}
